name: alpha testing

on:
  schedule:
    - cron: '0 * * * *'  # 只保留一个占位任务（防被禁）
  workflow_dispatch:     # 关键：允许外部触发
    inputs:
      manual:
        description: 'Manual run trigger'
        required: false

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: 下载上次状态
        uses: actions/cache@v3
        with:
          path: last_three_sum.json
          key: data-last-three-sum

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install deps
        run: |
          pip install selenium webdriver-manager requests

      - name: Run script
        env:
          SENDKEY: ${{ secrets.SENDKEY }}
        run: python detect.py

      - name: 上传本次状态
        uses: actions/cache@v3
        with:
          path: last_three_sum.json
          key: data-last-three-sum
